<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn" [ngClass]="currentTab == 'movies' ? 'btn-success' : 'btn-info'" (click)="selectTab('movies')">Movies</button>
        <button type="button" class="btn" [ngClass]="currentTab == 'cartoons' ? 'btn-success' : 'btn-info'" (click)="selectTab('cartoons')">Cartoons</button>
      </div>
    </div>

    <div *ngIf="currentTab == 'movies'">
      <app-movies></app-movies>
    </div>
    <div *ngIf="currentTab == 'cartoons'">
      <app-cartoons></app-cartoons>
    </div>
  </div>
</div>
