<h2>Hello {{ name }}</h2>
<br />

<h5>Form:</h5>
<input type="text" [value]="name"><br />
<input [type]="type"><br />

<h5>Two Way binding:</h5>
<input type="text" [(ngModel)]="name"> <br /><br />

<select [(ngModel)]="currency">
  <option value="PK">PKR</option>
  <option value="USD">USD</option>
</select>

<p>Your selected currency: {{ currency }}</p>

<div>
  <p>Hobbies:</p>
  Cricket:<input type="checkbox" (change)="toggleHobby('cricket', $event)">
  Painting:<input type="checkbox" (change)="toggleHobby('painting', $event)">
  Cooking:<input type="checkbox" (change)="toggleHobby('cooking', $event)">
</div>

<p>Your selected hobbies: {{ hobbies.join(", ") }}</p>
